@charset "UTF-8";
h1{
  text-align: center;
}
#header img{
  width:300px;
  height:300px;
}
#header{
  margin-top:100px;
  text-align: center;
}
#panel div{
  margin-left:-500px;
}
#buttons{
  text-align: center;
}
.input{
text-align:center;
}
